.container-headline {
  position: relative;
  background-color: brown;
  color: white;
  height: fit-content;
  padding: 1em 10rem;
}

.profile-photo {
  margin-right: 3em;
}

@media (max-width: 768px) {
  .container-headline {
    padding: 1em 1em !important;
  }
}
